* {
    box-sizing: border-box;

}
.Input {
    padding-left: 20px;
    margin-top: 50px;
    
}

.Input-name {
    color: grey;
    font-size: 15px;
}

.Input-button {
    width: 150px;
    height: 55px;   
}

