.Common-button {
    border-radius: 15px;
    width: 120px;
    height: 40px;
    color:black;
    font-weight: 700;
    font-size: 15px;
    transition: .2s background-color;
    cursor: pointer;
    margin-bottom: -30px;
}

.Common-button:hover {
    background:#aacced;
}

