.CommonButton {
    outline: none;
    border-radius: 15px;
    width: 120px;
    height: 40px;
    margin-left: 40px;
    color:black;
    font-weight: 700;
    font-size: 15px;
    transition: .2s background-color;
    cursor: pointer;
}

.CommonButton:hover {
    background:#aacced;;
}

