* {
    box-sizing: border-box;    
}

.reg {
    margin: 0 auto;
    display:flex;
    flex-direction: column;
    margin-top: 100px;
    margin-bottom: 50px;
    height:750px;
    width: 500px;
    background: #FFFFFF;
    box-shadow: 0px 0px 40px 10px rgba(0, 0, 0, 0.25);  
    border-radius: 20px;
}

.reg__heading {
    color:#787878;
    text-align: center;
    font-family: 'Roboto';
    font-weight: 700;
    font-size:30px;
    line-height: 50px;
    margin-top: 26px;  
}

.reg__inputs {
    display: flex;
    flex-direction: column;
    padding-left: 45px;
    row-gap: 9px; 
}

.reg__input, .reg__input2 {
    box-sizing: border-box;
    border-radius: 15px; 
    padding: 0px 15px;
    row-gap: 32px;
    background: #FFFFFF;
    border: 2px solid #787878;
    height:39px;
    width: 400px;
    top:0px;
    color:#787878;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 36px;
    font-family: 'Roboto';
}

.reg__email {
    width: 40px;
    height: 16px;
    left: 45px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    color: #787878;
}

.reg__name {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    color: #787878;
}

.reg__confirm {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    color: #787878;
}

.reg__radio-heading {
    font-family:'Roboto';
    color: #787878;
    font-size: 16px;
    font-weight: 700;
}

.reg__radio {
    padding-left: 45px;    
}

.reg__radio-label {
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    font-family: 'Roboto';
    color: #787878;
}

.reg__radio-input {
    display:none;
}

.reg__radio-label::before {
    content:'';
    display: inline-block;
    width: 10px;
    height: 10px;
    border: solid;
    border-radius: 20px;
    border-style:2px;
    padding:2.5px;
    border-color:#787878;
    background-clip:content-box; 
    margin-right:10px; 
}

.reg__radio-input:checked + label::before{
    background-color:#787878;
}

.reg__about {
    padding-left: 45px;
    padding-top: 20px; 
}
.reg__about-textarea {
    width: 400px;
    height: 100px;
    font-size: 20px;
    font-family: 'Roboto';
    font-weight: 700;
    color: #787878;
    padding-left:15px;
    border-radius: 15px;
}

::-webkit-input-placeholder {
    color:#CCCCCC;
}

.reg__checkbox-label {
    font-size: 16px;
    font-family: 'Roboto';
    font-weight: 400;
    color: #787878;
}

.reg__checkbox > input{
    display: none;
}

.reg__checkbox-label::before {
    content:'';
    display: inline-block;
    width: 5px;
    height: 5px;
    padding: 4px;
    margin-right: 10px; 
    border: solid #787878;
    background-clip:content-box;
    border-radius: 15px;
}

.reg__checkbox-input:checked + label::before {
    background-color: #787878; 
    border-radius: 15px; 
}

.reg__button {
    margin-left: 110px;
    margin-top: 25px;
    border-radius: 15px;
    width: 140px;
    height: 40px;
    color:black;
    font-weight: 700;
    font-size: 16px;
    transition: .2s background-color;
    cursor: pointer;
}

.reg__button:hover {
    background:#aacced;;
}

.red {
    border: 2px solid #EE2424;
}

.error {
    display: none;
    margin-top: -20px;
    margin-right: 0;
  
}

.show {
    display: block;
    color:#EE2424;
    font-size: 16px;
    font-weight: 700;
    margin-left: 190px;
}
.error2 {
    display: none;
}

.show2 {
    display: block;
    color:#EE2424;
    font-size: 16px;
    font-weight: 700;
    margin-left: 320px; 
    margin-top: -18px;
}

.error3 {
    display: none;
    position: absolute;
    margin-top: -18px;
}

.show3 {
    display: block;
    color:#EE2424;
    font-size: 16px;
    font-weight: 700;
    margin-left: 350px; 
}

.error8 {
    display:none;
    position: absolute;
    margin-top: -10px;
    margin-right: -50px;
}

.show8 {
    display: block;
    color:#EE2424;
    font-size: 16px;
    font-weight: 700;
    margin-left: 165px;  
}

.reg__inputs2 {
    margin-left: 50px;  
}

.btn {
    margin-left: 110px;
    margin-top: 15px;
    border-radius: 15px;
    width: 140px;
    height: 40px;
    color:black;
    font-weight: 700;
    font-size: 16px;
    transition: .2s background-color;
    cursor: pointer;
}

.btn:hover {
    background:#aacced;
}



