  .Header {
    margin-top: -30px;
    margin-bottom: 20px;
    height: 170px;
    background-image:url(header.jpg);
    background-size:100%;
    background-repeat:no-repeat;
  }
  
  .Header-name {
    text-align: center;
    color: #7eb5ec;
    font-size: 50px;
    
  }
  
  .Header-container {
  
    display:flex;
    justify-content:space-around;
    align-items:center;
    flex-wrap:wrap;
  }
  
  .Header-container__link {
    text-align:center;
    padding-top: 6px;
    text-decoration: none;
    color:black;
    box-shadow: 2px 3px 9px 1px;
    font-weight: 500;
    font-size: 20px;
    border-radius:15px;
    background-color:#7eb5ec;
    height: 50px;
    width: 130px;
    

  }
  
    