  .Header {
   margin-bottom: 30px;
    background-image:url(header.jpg);
    background-size:100%;
    background-repeat:no-repeat;
  }
  
  .Header-name {
    color: darkgreen;
    font-size: 50px;
    padding-left: 600px;
  }
  
  .Header-container {
  
    display:flex;
    justify-content:space-around;
    align-items:center;
    flex-wrap:wrap;
  }
  
  .Header-container__link {
    padding-left:10px;
    padding-bottom: 5px;
    color:#149830;
    font-weight: 500;
    font-size: 20px;
    margin-bottom:0.5;
    border-style:solid;
    border-radius:15px;
    background-color:#9bd7b1b3;
    height: 40px;
    width: 110px;

  }
  
    