.Footer {
    padding-left: 20px;
    background-color: #aacced;;
    background-size:25%; 
}

.Footer-contacts {
    color: black;
    font-size: 15px;
}

.Footer-link {
    color: black;
}

.Footer-link:visited {
    color:#aacced;
}