body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.common-header {
  color:grey;
  font-size: 20px;
}

.Card-price::after {
  content: '€'
}

@font-face {
  font-family: 'Roboto-Medium';
  src: local ('Roboto-Medium'), url(./Fonts/Roboto-Medium.woff2) format('.woff2'); 
  src: local ('Roboto-Medium'), url(./Fonts/Roboto-Medium.woff) format('.woff'); 

}

